/* Doc Site styles */



.doc-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "compo-doc"
        "doc-footer";
    position: relative;
    column-gap: 0.5rem;
}

.components-doc .heading {
    text-align: center;
    margin-bottom: 2rem;
}


/* Components style */
.component {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: auto;
    padding-bottom: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--primary);
    align-items: left;
}

.component>h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.component>.description {
    font-size: 1.2rem;

}

.component>h3 {
    padding-top: 0.5rem;
    border-top: 0.5px solid lightgray;
}

.avatar-examples {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.alert-examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
}


.doc-site.bttn-floating-action {
    position: fixed;
    bottom: 4rem;
    right: 3vw;
    color: black;
}

.doc-footer {
    grid-area: doc-footer;
}

.doc-footer nav{
    flex-direction: column;
    position: relative;
    padding: 0;
}


/* mobile/ipad */
@media screen and (max-width: 768px) {

    .components-nav {
        display: none;
    }

    .components-doc {
        display: block;
        text-align: left;
        padding: 0.5rem 1.5rem;
        position: relative;
    }

    .components-nav-sidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        opacity: 0.9;
        color: var(--primary);
        position: fixed;
        z-index: 1;
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .components-nav-sidebar ul{
        text-align: left;
        list-style: none;
        padding: 1rem 0;
    }

    .components-nav-sidebar li{
        padding-top: 0.5rem;
        padding-left: 1.5rem;
    }

    .components-nav-sidebar li:hover{
        color: white;
        font-size: larger;
        font-weight: bolder;
    }
}


/* desktop */
@media screen and (min-width: 768px) {

    .doc-layout {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "compo-nav compo-doc"
            "doc-footer doc-footer";
        position: relative;
        column-gap: 0.5rem;
        height: 100%;
    }

    .components-nav {
        grid-area: compo-nav;
        text-align: left;
        display: flex;
        position: fixed;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0.5rem 2rem;
    }

    .components-nav > h2{
        letter-spacing: 0.1rem;
        font-size: 1.5rem;
        color: var(--primary);
        text-shadow: 2px 2px black;
        padding-bottom: 1rem;
    }

    .components-nav>ul {
        list-style-type: none;
        padding-inline-start: 0;
        padding: 0rem 1rem;
    }

    .components-nav>ul li {
        text-decoration: none;
        font-size: large;
        letter-spacing: 0.1rem;
        font-weight: bold;
        padding-bottom: 0.5rem;
    }

    .components-nav li:hover{
        color: var(--primary);
        font-size: 1.5rem;
    }

    .components-doc {
        grid-area: compo-doc;
        text-align: left;
        padding: 0.5rem 3rem;
        position: relative;
    }


}