.modal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid gray;
    background-color: var(--gray50);
    opacity: 0.9;
    padding: 10px 10px;
    max-width: 350px;
    flex-wrap: wrap;
    position: fixed;
    top: 10rem;
    left: 25rem;
}

.modal-title h3{
    border-bottom: 0.1px solid var(--primary);
    margin-bottom: 10px;
}

.modal-body{
    margin-bottom: 10px;
}

.modal footer{
    text-align: end;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .modal{
        left: 10rem;
    }
}