:root{
    --primary: #01dcfc;
}

.primary-button{
    width: max-content;
    letter-spacing: 1px;
    background-color: var(--primary);
    border: 0.5px  black;
    border-radius: 5px ;
    padding: 5px 10px;
}

.secondary-button{
    width: max-content;
    letter-spacing: 1px;
    border: 1px solid var(--primary);
    background-color: white;
    border-radius: 5px ;
    padding: 5px 10px;
}

.icon-button{
    width: max-content;
    background-color: var(--primary);
    border: var(--primary);
    border-radius: 5px ;
    padding: 5px 10px;
}

.floating-action-button{
    /* width: max-content; */
    background-color: var(--primary);
    border: 15px solid var(--primary);
    /* padding: 2px 5px; */
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: whitesmoke;
}