:root{
    --primary: #01dcfc;
    --badgeColer:#4B5563;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3F4F6;
    width: 200px;
    /* margin: auto; */
    padding: 10px 10px;
    position: relative;
    border: 1px solid lightgray ;
    border-style: outset;
    border-top-left-radius: 8px;
}

.card-img{
    width: 100%;
    padding-bottom: 10px;
    position: relative;
}

.card .card-name{
    font-size: 1.3rem;
    font-weight: bold;
}

.card .card-tagline{
    color: #6B7280 ;
    padding-bottom: 10px;
}

.card .card-price{
    font-size: 1.1rem;
    font-weight: bold;
}

.card .card-badge{
    position: absolute;
    top: 20px;
    background-color:var(--badgeColer);
    color: var(--primary);
    padding: 0px 15px;

}

.card .card-dismiss{
    background: none;
    border: var(--primary);
    font-size: 1.5rem;
    color: var(--primary);
    position: absolute;
    top: 12px;
    right: 18px;
    cursor: pointer;
}

/* Cards with text overlay */
.card .card-text{
    position: absolute;
    top: 7em;
    left: 15px;
    color: whitesmoke;
    font-weight: bold;

}

/* Text only Cards */

.card > .card-title{
    margin-top: 5px;
}
.card > .card-title > h3{
    margin-top: 0px;
    border-bottom: 1px solid var(--primary);
    margin-bottom: 5px;
}

.card > .card-body{
    margin-bottom: 5px;
}

.card  .card-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

}

/* Horizontal Cards */

.card.horizontal-card{
    display: grid;
    width: 100%;
    max-width: 400px;
    height: auto;
    grid-template-columns: 40% 60%;  
    grid-column-gap: 10px; 
    justify-content: space-between; 
    align-items: center;
    padding-top: 0 ;
    padding-bottom: 0;
}

.card-side-txt{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.card-side-txt .card-title{
    font-size: 1.2rem;
    font-weight: bolder;
}

.card.horizontal-card .card-img{
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}


/* Cards with Shadow */
.card.card-shadow{
    box-shadow: 5px 5px grey;
}

